# Ignorar archivos y carpetas específicos dentro de ABB_Unity_App_TFM_V_1.2

# Ignorar carpetas y archivos generados por Unity dentro de ABB_Unity_App_TFM_V_1.2
/ABB_Unity_App_TFM_V_1.2/[Ll]ibrary/
/ABB_Unity_App_TFM_V_1.2/[Tt]emp/
/ABB_Unity_App_TFM_V_1.2/[Oo]bj/
/ABB_Unity_App_TFM_V_1.2/[Bb]uild/
/ABB_Unity_App_TFM_V_1.2/[Bb]uilds/
/ABB_Unity_App_TFM_V_1.2/[Ll]ogs/
/ABB_Unity_App_TFM_V_1.2/[Uu]ser[Ss]ettings/

# Ignorar archivos de memoria, grabaciones y otros archivos grandes
/ABB_Unity_App_TFM_V_1.2/[Mm]emoryCaptures/
/ABB_Unity_App_TFM_V_1.2/[Rr]ecordings/

# Ignorar archivos generados por Visual Studio y Gradle
/ABB_Unity_App_TFM_V_1.2/.vs/
/ABB_Unity_App_TFM_V_1.2/.gradle/
/ABB_Unity_App_TFM_V_1.2/ExportedObj/
/ABB_Unity_App_TFM_V_1.2/.consulo/

# Ignorar archivos de solución y proyecto
/ABB_Unity_App_TFM_V_1.2/*.csproj
/ABB_Unity_App_TFM_V_1.2/*.unityproj
/ABB_Unity_App_TFM_V_1.2/*.sln
/ABB_Unity_App_TFM_V_1.2/*.suo
/ABB_Unity_App_TFM_V_1.2/*.tmp
/ABB_Unity_App_TFM_V_1.2/*.user
/ABB_Unity_App_TFM_V_1.2/*.userprefs
/ABB_Unity_App_TFM_V_1.2/*.pidb
/ABB_Unity_App_TFM_V_1.2/*.booproj
/ABB_Unity_App_TFM_V_1.2/*.svd
/ABB_Unity_App_TFM_V_1.2/*.pdb
/ABB_Unity_App_TFM_V_1.2/*.mdb
/ABB_Unity_App_TFM_V_1.2/*.opendb
/ABB_Unity_App_TFM_V_1.2/*.VC.db

# Ignorar archivos .meta de Unity3D
/ABB_Unity_App_TFM_V_1.2/*.pidb.meta
/ABB_Unity_App_TFM_V_1.2/*.pdb.meta
/ABB_Unity_App_TFM_V_1.2/*.mdb.meta

# Ignorar archivos generados en informes de crash
/ABB_Unity_App_TFM_V_1.2/sysinfo.txt

# Ignorar archivos de builds
/ABB_Unity_App_TFM_V_1.2/*.apk
/ABB_Unity_App_TFM_V_1.2/*.aab
/ABB_Unity_App_TFM_V_1.2/*.unitypackage
/ABB_Unity_App_TFM_V_1.2/*.app

# Ignorar archivos generados por Crashlytics
/ABB_Unity_App_TFM_V_1.2/crashlytics-build.properties

# Ignorar archivos de Addressables en el directorio de Assets
/ABB_Unity_App_TFM_V_1.2/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Ignorar archivos auto-generados en Assets/StreamingAssets
/ABB_Unity_App_TFM_V_1.2/[Aa]ssets/[Ss]treamingAssets/aa.meta
/ABB_Unity_App_TFM_V_1.2/[Aa]ssets/[Ss]treamingAssets/aa/*
